@media screen and (max-width:700px){
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 300px;
       
    }
}

@media screen and (min-width:1000px) {
    .descricao{
        width: 56%;
    }
}

@media screen and (max-width:411px) {
    .titulo{
        font-size: 26px;
    }
    .descricao{
        font-size: 10px;
    }
    .main-movie{
            margin-top: 3px;
        }
    .botao{
        width: 230px;
        font-size: 11px;
    }
    
}